.hero {
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

.hero::before {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-inner-cont {
  position: absolute;
  text-align: center;
  left: 33%;
  bottom: 0;
  height: 33%;
  width: 34%;
}

.gallery-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .gallery-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .gallery-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .gallery-container {
    max-width: 720px;
  }
}

@media (min-width: 1200px) {
  .gallery-container {
    max-width: 960px;
  }
}


