.gallery-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#btn-readmore-gallery{
  border: 2px solid #AC6F53;
  box-shadow:none;
  width: 100%;
}

@media (min-width: 576px) {
  .gallery-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .gallery-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .gallery-container {
    max-width: 720px;
  }
}

@media (min-width: 1200px) {
  .gallery-container {
    max-width: 960px;
  }
}

.page-link{
  color: #826C5F;
}
 .page-item.active .page-link {
  color: #fff;
  background-color: #AC6F53;
  border-color: #AC6F53;
}
