.hero {
    height: 33vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
  }
  
  .hero::before {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    content: "";
    background-color: rgba(0, 0, 0, 0.65);
  }
  
  .hero-inner-cont {
      position: absolute;
      text-align: center;
      bottom: 1vh;
      width:100%;
  }