.hero {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
  }
  
  .hero::before {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    content: "";
    background-color: rgba(0, 0, 0, 0.65);
  }
  
  .hero-inner-cont {
    position: absolute;
    text-align: center;
    bottom: 25vh;
    width:100%;
  }

  p{
    color: #826C5F;
  }

  button.active span{
    background-color: #AC6F53 !important;
  }

  a#btn-100vh{
    color: white;
    border: 2px solid #AC6F53;
    font-size: 16px;
    font-weight: bold;
    width: 160px;
    height: 45px;
  }

#call-to-action {
  background: url(/images/wooden_texture_3.jpg) fixed center center;
  background-size: cover;
  padding: 60px 0;
  position: relative;
}

#call-to-action::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#call-to-action h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

#call-to-action p {
  color: #fff;
}

#call-to-action .cta-btn {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 25px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid #AC6F53;
  color: #fff;
}

#call-to-action .cta-btn:hover {
  background: #AC6F53;
  border: 2px solid #AC6F53;
}